$hot-color: #e6dfd7;
$primary-color: #343a40;
$secondary-color: #6c757d;
$muted-color: #f0f0f0;
$white-color: #ffffff;

$font-family-title:  'Yellowtail', cursive;
$font-family-text: 'B612 Mono', monospace;

ul {
  margin: 0;
  padding-left: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}